.main-type {
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo svg {
  display: inline-block;
  width: 80%;
}

.close-btn svg {
  display: inline-block;
  fill: #fff;
}
