nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    // a {

    // }

    input {
        padding: 9px 18px;
        border-radius: 20px;
        border: none;
        width: 100%;
        max-width: 250px;
    }
}